ansible/group_vars

ansible/inventory

ansible/exo

roles/hardening/files/google_authenticator

*.backup

*.tfstate

terraform/seiler.tfvars

*.cer

*.key

ansible/00_dev.yml

terraform/*/.terraform

terraform/*/seiler.tfvars
